body {
    background-color: #080808;
    font-family: 'IBM Plex Mono', monospace;
    padding-top: 70px;
    /* Ajusta conforme a altura do menu */
}

.whatsapp-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    width: 60px;
    /* Largura fixa */
    height: 60px;
    /* Altura fixa */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 10000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.whatsapp-fixed:hover {
    transform: scale(1.1);
}


.navbar {
    background-color: #121212;
    width: 90%;
    margin: auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar-brand,
.nav-link {
    color: white !important;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header {
    padding: 100px 0;
}

.intro-text {
    max-width: 500px;
    color: #ccc;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.header a.btn {
    background-color: #3F8E00 !important;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.658);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.header a.btn:hover {
    transform: scale(1.05);
    background-color: #367600 !important;
}


/* Seção de Habilidades */
.habilidades {
    padding: 100px 0;
    background-color: #121212;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-description {
    color: #ccc;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.tech-icon {
    width: auto;
    height: 80px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.tech-icon:hover {
    transform: scale(1.1);
}

.habilidades p {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

/* Seção de Projetos */
.projetos {
    padding: 100px 0;
    background-color: #080808;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-description {
    color: #ccc;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.projeto-card {
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projeto-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.2);
}

.projeto-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
}

.card-text {
    color: #ccc;
    font-size: 1rem;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Seção de Contato */
.contato {
    padding: 100px 0;
    background-color: #121212;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-description {
    color: #ccc;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.form-control {
    background-color: #121212;
    border: 1px solid #444;
    color: white;
    padding: 10px;
    font-size: 1rem;
}

.form-control:focus {
    background-color: #1a1a1a;
    color: #fff;
    outline: none;
    border-color: #3F8E00;
    box-shadow: 0 0 0 0.2rem rgba(63, 142, 0, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    background-color: #1a1a1a !important;
    color: #fff !important;
    -webkit-box-shadow: 0 0 0 50px #1a1a1a inset;
    box-shadow: 0 0 0 50px #1a1a1a inset;
}

.form-control::placeholder {
    color: #777;
}

.form-label {
    font-weight: 600;
    color: white;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    background: linear-gradient(to right, #6dd400, #28a745);
    border: none;
    transition: 0.3s;
}

.btn-submit:hover {
    background: linear-gradient(to right, #28a745, #6dd400);
    transform: scale(1.05);
}

/* Footer */
.footer {
    background-color: #080808;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
}

.footer p {
    margin: 0;
    color: white;
    font-weight: 600;
}

.social-icons {
    margin-top: 10px;
}

.social-link {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-link:hover {
    transform: scale(1.2);
    color: #6dd400;
}